<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О сайте</title>
</head>
<body>

<h1>About Page</h1>
<p>Число дня - <strong>{{ number }}</strong></p>

{% if number == 7 %}
    <p>Вы выиграли набор <strong>ДОМИНО</strong>!</p>
{% endif %}

<img src="https://n1s1.hsmedia.ru/67/11/f8/6711f8fa964b75d4adfd771a791e9d4d/620x414_1_d5d14eda2b2341175f86312c4748c9f4@800x534_0x59f91261_20201534301394185932.jpeg">

<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в
    буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и
    обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения
    залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный
    образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир
    грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но
    текст не дал сбить</p>

</body>
</html>